.group {
    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        @media screen and (max-width:970px){
            gap: 30px;
        }

    }

    &__title {
        display: flex;
        justify-content: space-between;
        gap: 135px;
        @media screen and (max-width:970px){
            gap: 135px;

        }
       
        @media screen and (max-width:576px) {
            display: flex;
            flex-direction: column;
           
        }
    }

    &__text {
        font-family: sans-serif;
        font-weight: 700;
        font-size: 60px;
        line-height: 117%;
        color: #fff;
        @media screen and (max-width:970px){
            font-size:48px ;
        }
        @media screen and (max-width:760px){
            font-size: 46px;
        }

        @media screen and (max-width:576px) {
            font-family: sans-serif;
            font-weight: 700;
            font-size: 36px;
            line-height: 150%;
            color: #fff;
        }
    }

    &__subtitle {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 21px;
        line-height: 186%;
        letter-spacing: -0.03em;
        color: rgba(255, 255, 255, 0.7);
        @media screen and (max-width:760px){
            font-size: 20px;
        }

        @media screen and (max-width:576px) {
            font-family: sans-serif;
            font-weight: 400;
            font-size: calc(100% - 5px);
            line-height: 150%;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &__image {
        width: 1200px;
        height: 670px;
        &__img{
            @media screen and (max-width:970px){
                width: 500px;
                height: 280px;
            }
            @media screen and (max-width:760px){
                width: 400px;
                height: 280px;
            }
        }

        @media screen and (max-width:576px) {
           display: none;
           width: calc(100% - 827px);
           height: calc(100% - 676px);
        }
    }
    &__image-res{
        display: none;
        @media screen and (max-width:576px) {
            display: block;
         }
    }
}